html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    margin: auto;
}

.t1 {
    font-size: 30px;
}

.sidebar {
    background: rgb(9, 9, 90);
    width: 250px;
    color: white;
}

.sidebar ul li {
    list-style: none;
    padding: 9px;
    font-weight: bolder;
    margin: 30px 0;
}

.main {
    margin: 10px 10px 10px;
    padding: 20px;
    flex: 1;
    background-color: rgb(235, 229, 229);
}

.top {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.top input {
    padding: 7px;
    width: 300px;
    border: none;
    border-radius: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 40px 40px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.schedule {
    display: flex;
    gap: 30px;

}

.event {
    flex: 1;
    padding: 40px 40px;
    color: white;
    border-radius: 10px;
}

.orange {
    background: linear-gradient(90deg, #a1abbb, #ff723b);
}

.purple {
    background: linear-gradient(90deg, #7b2ff7, #f107a3);
}

.cyan {
    background: linear-gradient(90deg, #d30521, #854114);
}

.green {
    background: linear-gradient(130deg, #52ce0b, #a03c15);
}

.red {
    background: linear-gradient(120deg, #e72e00, #af7c68);
}

.blue {
    background: linear-gradient(130deg, #0d9e19, #182597);
}

.progress-box {
    width: 100%;
    height: 8px;
    background: gray;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.p90 {
    width: 90%;
    height: 100%;
    background: rgb(243, 180, 7);
}

.p45 {
    width: 45%;
    height: 100%;
    background: rgb(4, 248, 4);
}

.p75 {
    width: 75%;
    height: 100%;
    background: rgb(236, 13, 87);
}

.ti {
    margin: 20px;
    font-weight: bolder;
    font-size: 25px;
}

.time {
    font-size: 12px;
}

.dec {
    display: inline-block;
    padding: 4px 12px;
    font-size: 11px;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 12px;
    margin-top: 6px;
    font-weight: bold;
}