* {
    margin: 0;
    padding: 0;
}

a{
    color: #e90606;
}

/* styles for navbar  */
#nav-left{
    display: flex;
    align-items: center;
    gap: 5px;
}

#nav-right{
    display: flex;
    gap: 25px;
    align-items: center;
}

#trial-btn{
    background-color: #0976a7;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

/* styles for whole form section  */
#form-section{
    display: flex;
}

/* styles for signin left section  */
#left-signin{
    background-color: #0976a7;
    color: white;
    width: 40%;
    padding: 80px 15px;
}

#professor{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

/* styles for signin form  */
#signin-form{
    padding: 30px 200px;
    flex: 1;
}

.do-flex{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

#form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    background-color: white;
    border: 2px solid rgb(141, 145, 148);
    border-radius: 3px;
    width: 100%;
    padding: 5px 0px;
    margin-top: 20px;
}

#input-field{
    display: flex;
    flex-direction: column;
    position: relative;
}

#show{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#signin-btn{
    background-color: #e90606;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 0px;
    margin-bottom: 10px;
}

#forgot-link{
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

#form-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}